
div{
    background-color: #ddb1b1;

}

h1{
    color: rgb(240, 108, 108);
    background-color: rgb(155, 155, 155);
}
p{
    color: rgb(61, 200, 255);
    background-color: rgb(167, 167, 167);
}